

/*Layout page*/
header{
  grid-area: header;
  background:#fff;
}
main{
  grid-area: main;
  background:#fff;
}
aside{
  grid-area:aside;
  background:#fff;
}
footer{
  grid-area:footer;
  background:#fff;
}
@media screen and (min-width:19em){
  .site{
    margin: 0 auto;
    background:#eff3f9;
    display: grid;
    grid-template-rows: minmax(10em,auto) minmax(20em,auto) minmax(10em,auto) minmax(auto,10em);
    grid-template-areas:
    "header"
    "main"
    "aside"
    "footer";
    grid-gap: 1em;
  }


@media screen and (min-width:60em){
  .site{
    display: grid;
    grid-template-columns: auto 15em;
    grid-template-areas:
    "header header"
    "main aside"
    "footer footer";
    grid-gap: 1em;
  }

}
/*Navigation bar*/

.main-nav{
  position:relative;
  grid-column: 1;
  grid-row: 1/5;
  background: black;
  width:12em;
   left:-13em;
}
.main-nav ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;

}
.main-nav button{ display: block; height:2em; width:1/5em; border:0px;
  position: fixed; left:-1em;top:1.35em; background: black; transform: rotate(90deg); color: white;}
  nav ul li a{ text-decoration: none; color: white; font-size: 1.2em;}
  nav ul li { margin:1em;}

}
.reveal .main-nav{ left:0;}
.reveal .trigger{left:12.6em;}
